on:
  push:
    branches:
      - "main"

name: Build

jobs:
  build:
    name: Building cloud-container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-go@v4
        with:
          go-version: ">=1.20.0"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build with Docker cache
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: kernel:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Extract build outputs
        run: |
          bash ./build.sh
      - name: Package
        id: package
        run: |
          commit=$(git rev-parse --short HEAD)
          echo "name=cloud-container-${commit}" >> $GITHUB_OUTPUT
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}-${{ steps.package.outputs.name }}
          release_name: Release ${{ steps.package.outputs.name }}
          draft: false
          prerelease: false
      - name: Upload kernel
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./output/kernel
          asset_name: kernel
          asset_content_type: application/octet-stream
      - name: Upload initramfs
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./output/initramfs-linux.img
          asset_name: initramfs-linux.img
          asset_content_type: application/octet-stream
      - name: Upload hypervisor firmware
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./output/hypervisor-fw
          asset_name: hypervisor-fw
          asset_content_type: application/octet-stream