on:
  push:
    branches:
      - "main"

name: Build

jobs:
  build:
    name: Building cloud-container
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-go@v4
        with:
          go-version: ">=1.20.0"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build with Docker cache
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: kernel:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Extract build outputs
        run: |
          bash ./build.sh
      - name: Package
        id: package
        run: |
          commit=$(git rev-parse --short HEAD)
          echo "name=cloud-container-${commit}" >> $GITHUB_OUTPUT
          echo "tag=v${{ github.run_number }}-${commit}" >> $GITHUB_OUTPUT
      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.package.outputs.tag }}
          name: Release ${{ steps.package.outputs.name }}
          files: |
            ./output/kernel
            ./output/initramfs-linux.img
            ./output/hypervisor-fw